$usercard-border-radius: 0.5rem;

.user-card {
  margin: 10px;
  border-radius: $usercard-border-radius;
  box-shadow: 0.25rem 0.25rem 0.5rem grey;
  .user-photo {
    height: 70%;
    position: relative;
    .position {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-weight: 700;
    }
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: $usercard-border-radius $usercard-border-radius 0rem 0rem;
  }
  .user-info {
    height: 30%;
    background-color: white;
    border-radius: 0rem 0rem $usercard-border-radius $usercard-border-radius;
    position: relative;
    div {
      padding: 0rem 1rem;
    }
    .title {
      height: 50%;
      display: flex;
      align-items: center;
      font-weight: 900;
    }
    .description {
      height: 50%;
      display: flex;
      align-items: center;
    }
    .button-div {
      position: absolute;
      left: 0;
      top: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      border-radius: 0 0 0.25rem 0.25rem;
      display: none;
      opacity: 0.8;
    }

    .usercard-button-left {
      height: 100%;
      width: 50%;
      border-radius: 0 0 0 0.25rem;
    }
    .usercard-button-right {
      height: 100%;
      width: 50%;
      border-radius: 0 0 0.25rem 0;
    }
  }
  .user-info:hover .button-div {
    display: inline-block;
  }
}
