body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General */
$base-blue-color: #4e5de5;
$base-grey-color: #f0f0f0;
$modal-padding: 0.75rem;

.modal-body {
  background-color: $base-grey-color;
}
.modal-header {
  background-color: $base-blue-color;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

/* MainPage */
