$img-border-radius: 0.5rem;

.form-img-container {
  height: 16rem;
  border-radius: $img-border-radius;
  .form-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: $img-border-radius;
  }
}
