$base-grey-color: #f0f0f0;
$base-blue-color: #4e5de5;

.team-profile-header {
  height: 3rem;
  background-color: $base-blue-color;
}

.team-profile-top {
  height: 30rem;
  margin: 1rem;
  .team-profile-photo {
    float: left;
    height: 100%;
    width: 30%;
  }
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .team-profile-description {
    float: right;
    height: 100%;
    width: 70%;
    padding: 0 1rem;
  }
}
